* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2e8c6;
  overflow-x: hidden;
}

/* NAVBAR  */
header {
  background-color: #800000;
  padding: 1.25rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1.25rem;
}

.logo {
  color: #f2e8c6;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 3.75rem;
}

.logo img {
  height: 3.125rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

ul {
  justify-items: center;
  list-style: none;
  display: flex;
  gap: 1.25rem;
  margin-left: auto;
  margin-right: 1.25rem;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.login-btn {
  background-color: #f2e8c6;
  color: #800000;
  padding: 0.5rem 1rem;
  width: 5.625rem;
  font-size: 1rem;
  margin-right: 0.625rem;
  font-weight: bold;
  border: none;
  border-radius: 0.9375rem;
  cursor: pointer;
  margin-left: 1.25rem;
  text-align: center;
  box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.login-btn:hover {
  background-color: #f2d2a9;
  transition: all 0.5s;
  transform: scale(1.05);
  box-shadow: 0px 0.375rem 0.625rem rgba(0, 0, 0, 0.3);
}

.login-btn a {
  color: #800000;
  text-decoration: none;
  font-size: 0.9375rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  color: black;
}


/* SECTION */
.artikeljudul {
  padding-left: 7rem;
  padding-top: 4rem;

  color: #800000;
  font-size: 1.8rem;
  margin: auto;
}

.judul2 {
  text-align: center;
  color: #800000;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.orgsakit img {
  text-align: center;
  padding-top: 3rem;
  width: 50%;
  border-radius: 10%;
}

.adimin {
  padding-top: 5px;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
  color: #c39b73;
}
.adimin img {
  padding-left: 20px;
  padding-right: 5px;
  width: 30x;
  height: 20px;
}

.isi {
  margin: auto;
  padding-top: 40px;
  text-align: center;
  align-items: center;
  color: #800000;
  width: 70%;
  line-height: 2rem;
  max-height: max-content;
  padding-bottom: 5%;
}

/* FOOTER SECTION */
footer {
  background-color: #800000;
  color: #f2e8c6;
}
.content-1 {
  display: flex;
  justify-content: space-between;
  padding: 1% 8%;
  align-items: center;
}

.content-1 .kiri {
  display: flex;
  gap: 1rem;
}

.kiri img {
  width: 3vw;
  height: 5vw;
}

.kiri .text h1 {
  color: #f2e8c6;
  font-size: 1.5rem;
}

.kiri .text p {
  padding-top: 0.5rem;
  color: #f2e8c6;
  font-size: 0.7rem;
}

.mid {
  color: #f2e8c6;
  font-size: 0.9em;
}

.mid .phone {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.mid .lokasi {
  display: flex;
  gap: 1rem;
}
.isi-phone {
  font-size: 0.6rem;
}

.isi-lokasi {
  font-size: 0.6rem;
}

.mid img {
  width: 1.5rem;
  height: 1.5rem;
}

.kanan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9rem;
}

.kanan a {
  text-decoration: none;
  color: #f2e8c6;
  font-size: 0.7rem;
}

.garis {
  width: 9rem 0%;
  border: 0.0625rem solid #F2E8C6;
  margin: auto;
}
.content-3 {
  color: #f2e8c6;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f2e8c6;
  padding-top: 1rem;
}

.social img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #f2e8c6;
  padding: 0.2rem;
}
.copy p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  font-size: 0.5rem;
  padding-bottom: 2%;
}

/* END SECTION FOOTER */