* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
    background-color: #F2E8C6;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .kiri {
    flex: 1;
    background: linear-gradient(
        #713a3acc,
        #713a3acc
      ),
      url('img/gambar\ orang.png') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    position: relative;
  }
  
  .tombolbek {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #F2E8C6;
    border: none;
    border-radius: 50%; 
  }
  
  .isi h1 {
    padding-left: 6%;
    font-size: 5rem;
    margin-bottom: 10px;
  }
  
  .isi p {
    padding-left: 6%;
    font-weight: bold;
    font-size: 5rem;
  }
  
  .kanan {
    flex: 1;
    background-color: #F2E8C6; 
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .kanan h2 {
    text-align: center;
    margin-bottom: 6%;
    font-size: 2rem;
    color: #000; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form input,
  form textarea {
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  form button {
    padding: 15px;
    font-size: 1rem;
    border-radius: 40px;
    border: none;
    outline: none;
  }
  
  form input,
  form textarea {
    opacity: 60%;
    background-color: #800000; 
    color: white;
  }
  
  form textarea {
    resize: none;
    height: 150px;
  }
  
  form button {
    width: 216px;
    height: 73;
    opacity: 60%;
    background-color: #800000; 
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background 0.3s ease;
    align-self: center;

  }
  
  form button:hover {
    opacity: 60%;
    background-color: #4e0303;
  }
  
form input::placeholder,
form textarea::placeholder {
    color: white;
}